*{
	margin: 0 auto;
	padding: 0;
	text-decoration: none;
	color: white;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 100;
    text-shadow: 1px 1px 20px black;
}

header{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    video{
        position: fixed;
        top: 0;
        left: 0;
        object-fit: cover;
        width: 100%;
        height: 100%;
        pointer-events: none;
    }

    .content{
        position: relative;
        z-index: 1;
        margin: 0 auto;
        text-align: center;
        background-color: black;
        opacity: 0.8;
        padding: 1.5vw;
        border-radius: 10px;

        h1{
            font-size: 4rem;
            
        }

        h3{
            font-size: 1.5rem;
        }

        i{
            font-size: 1.5rem;
            padding: 0.5vw;
        }
        
       
    }

    .arrow{
        text-align: center;
        bottom: 0 !important;
        
        img{
            width: 4rem;
            height: auto;
            bottom: 0;
           
        }
    }
}



body{
    .hamburger {
    position: fixed;
    left: 0;
    top: 0;
    padding: 25px;
    z-index: 2;
  }
  
  .hamburger #menuToggle {
    display: block;
    position: relative;
    max-width: calc(100% - 50px);
    z-index: 1;
    user-select: none;
  }
  
  .hamburger #menuToggle a:hover {
    color: rgb(157, 0, 204);
  }
  
  .hamburger #menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: white;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }
  
  .hamburger #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }
  
  .hamburger #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }
  
  .hamburger #menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    /* hide this */
    z-index: 2;
    /* and place it over the hamburger */
    -webkit-touch-callout: none;
  }
  
  .hamburger #menuToggle input:checked ~ ul {
    transform: none;
  }
  
  .hamburger #menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }
  
  .hamburger #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  
  .hamburger #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: white;
  }
  
  .hamburger #menu {
    position: absolute;
    width: 250px;
    height: 107vh;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    background: black;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
  
  .hamburger #menu li {
    padding: 10px 0;
    font-size: 22px;
  }
}

section{
    display: flex;
    width: 100%;
    height: 30vw;
    background-color: black;
    .o_mnie{
        color: white;
    }
}